.body-section .image-container {
    width: 100%;
}

.flip-card {
    perspective: 1000px;
    display: flex;
    align-items: center;
}

.flip-card-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    z-index: -1;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    transform: rotateY(0deg);
}

.flip-card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.flip-card button {
    position: absolute;
    font-family: inherit;
    background-color: inherit;
    border: 0;
    font-size: 10em;
    color: var(--blue);
}

@media only screen and (max-width: 600px) {
    .flip-card button {
        display: none;
    }

    .flip-card-back {
        position: initial;
        transform: rotateY(0deg);
    }
}
